<!doctype html>
<html lang="{{ site.Language.Lang }}" data-theme="dark">
<head>
{{ partial "head.html" . }}
</head>
<body>
<!--
  you read the source. nice.
  press ! for a shell, : for a command line, ? for help.
  type ffxii for the party menu.
-->
<a class="skip" href="#main">skip to content</a>
<div class="tty">
  <main id="main" class="screen" data-title="{{ if .IsHome }}home{{ else }}{{ .Title }}{{ end }}">
{{ block "main" . }}{{ end }}
  </main>
</div>
{{ partial "statusbar.html" . }}
{{ partial "overlays.html" . }}
{{ partial "site-data.html" . }}
{{ $js := resources.Get "js/main.js" | js.Build (dict "minify" true "target" "es2020") | fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
</body>
</html>
